@font-face {
  font-family: 'zidingyi';
  src: url('@/assects/font/zidingyi.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aaa';
  src: url('@/assects/font/aaa.ttf');
  font-weight: normal;
  font-style: normal;
}