@font-face {
  font-family: 'MiSans-Heavy';
  src: url('@/assets/fonts/MiSans-Heavy.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans-Regular';
  src: url('@/assets/fonts/MiSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}